* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main,
.sub {
    height: 100%;
    padding: 10px;
}

.main {
    background-color: red;
}

.sub {
    background-color: blue;
}