body {
    font-family: 'Roboto', sans-serif;
}

p {
    display: block;
}

.page {
    overflow-x: hidden;
    background-color: rgb(162, 169, 177);
}

.header {
    position: relative;
}

.blog__first {
    display: grid;
}

.blog__main {
    line-height: 1.3;
    padding: 5px;
    min-width: 730px;
}

.blog__name {
    border-bottom: solid black 1px;
    margin-bottom: 8px;
}

.blog__table {
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    margin-bottom: 15px;
    margin-left: 5px;
    padding: 10px;
    float: right;
    font-size: 15px;
    width: 250px;
    vertical-align: middle;
    text-align: left;
    line-height: 1.5;
    border-spacing: 2px;
}

.first {
    color: blue;
    text-decoration: line-through;
}

.blog__name__2 {
    text-align: center;
}

.blog__second {
    padding: 15px;
    line-height: 2;
}

.blog__para_1 {
    margin-bottom: 15px;
}

.blog__image {
    float: right;
}

.list {
    margin-left: 1%;
}

.list>li>a {
    color: red;
}