* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.page {
    overflow-x: hidden;
}

.header_style {
    width: 100%;
    height: 52px;
    background-color: black;
    min-width: 1000px;
}

.header__nav {
    display: flex;
    margin: 0 5%;
    padding-top: 18px;
    flex-direction: row;
}

.nav__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__logo__image {
    display: block;
    height: 15px;
    width: 80px;
}

.nav__left_style {
    margin: -2px 15px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.nav_after {
    margin-top: auto;
    width: 100%;
    height: 0px;
    background-color: teal;
    transition: height 0.1s linear;
}

.nav__shop:hover .nav__shop__after {
    height: 2px;
}

.nav__electronics:hover .nav__electronics__after {
    height: 2px;
}

.nav__playstation:hover .nav__playstation__after {
    height: 2px;
}

.nav__support:hover .nav__support__after {
    height: 2px;
}

.nav__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
    transform: translateY(-3px);
}

.nav__right__registration {
    font-size: 12px;
    margin-right: 20px;
}

.nav__right__registration a {
    text-decoration: none;
}

.nav__right__search_input {
    background-color: #504d56;
    border: none;
    outline: none;
    height: 20px;
    width: 107px;
    padding: 12px;
    padding-left: 20px;
    padding-bottom: 15px;
    transition: background-color 0.2s;
}

.nav__right__search_input::placeholder {
    color: white;
    font-size: 10px;
}

.nav__right__search_button {
    width: 20px;
    height: 15px;
    transform: translate(-20px, 3px);
    background-color: transparent;
    border: none;
    outline: none;
}

.nav__right_form:hover .nav__right__search_input {
    background-color: #5d58f5;
}

.nav__right__search_button {
    background-image: url(../fontawesome-free-5.15.1-web/svgs/solid/search.svg);
    background-repeat: no-repeat;
}

.nav__right_style {
    cursor: pointer;
}


/* Основная часть */

.main__headphone {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main__headphone__image {
    width: 100%;
}

.main__headphone__window {
    position: absolute;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.7%;
    height: 87%;
    min-width: 403px;
    min-height: 360px;
    flex: 0 1 auto;
    width: calc(25% + 1px);
    margin-left: 200px;
    background-color: white;
    padding: 54px;
}


/* Содержмое */

.main__headphone__window_text {
    color: black;
}

.headphone__window__title {
    font-size: 200%;
}

.headphone__window__text {
    margin: 0 10px;
}

.headphone__window__button {
    background-color: #5865f5;
    border: none;
    outline: none;
    height: 35px;
    width: 200px;
    margin-top: 8px;
    cursor: pointer;
}

.main__products__newest__tv {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: space-between;
    min-width: 1300px;
}

.main__products__newest {
    background-color: #f1f5f9;
}

.main__products__newest_style {
    height: 500px;
    min-width: 30%;
    padding: 10px 0;
    background-color: black;
}

.tv-1 {
    position: relative;
    background-image: url(Resources/Images/tv-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.tv-2 {
    position: relative;
    background-image: url(Resources/Images/tv-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tv-3 {
    position: relative;
    background-image: url(Resources/Images/audio.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.tv-1__text {
    top: 380px;
    left: 25px;
    position: absolute;
    font-size: 30px;
}

.tv-2__text {
    top: 350px;
    left: 25px;
    position: absolute;
    font-size: 30px;
}

.tv-3__text {
    top: 410px;
    left: 25px;
    position: absolute;
    font-size: 30px;
    color: #2f353d;
}

.text-header {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 10px;
    text-transform: uppercase;
}

.main__products__popular {
    display: grid;
    grid-template-columns: 5% 20% 5% 2% 13% 5% 20% 5% 20%;
    grid-template-rows: 240px 150px;
}

.grid-1 {
    background-color: #a46900;
    grid-column: 2/4;
    padding: 10px;
    cursor: pointer;
}

.grid-1_text {
    font-size: 21px;
}

.grid-2 {
    background-image: url(Resources/Images/lens.webp);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-x: center;
    grid-column: 5;
    cursor: pointer;
}

.grid-3 {
    background-image: url(Resources/Images/camera.webp);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-x: center;
    grid-column: 7/10;
    grid-row: 1/3;
    cursor: pointer;
}

.grid-5 {
    background-image: url(Resources/Images/undef.webp);
    background-repeat: no-repeat;
    background-position-x: center;
    grid-column: 5/6;
    grid-row: 2;
    cursor: pointer;
}

.grid-6 {
    background-image: url(Resources/Images/untitl.webp);
    background-repeat: no-repeat;
    grid-column: 2/4;
    grid-row: 2;
    cursor: pointer;
}

.footer {
    margin-top: 10px;
    background-color: #1f2024;
    height: 200px;
    transform-origin: bottom right;
}

.footer__top {
    border: #3c3c42 1px solid;
    border-left: none;
    border-right: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_shop {
    display: flex;
    flex-direction: column;
}

.footer_community {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_information {
    display: flex;
    flex-direction: column;
}

.footer_header {
    color: #595a62;
}

.footer__input_style {
    background-color: transparent;
    border: #3c3c42 1px solid;
    padding: 10px;
    outline: none;
}

.main__products {
    min-width: 900px;
}

.header__nav__small {
    display: none;
    width: 100%;
    position: relative;
}

.header__nav__small__menu {
    position: absolute;
}

.header__nav__small__logo {
    position: absolute;
    z-index: 1;
    top: 17px;
    left: 160px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-right: 1px #2f353d solid;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #7f7f7f;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    max-height: 70px;
    min-height: 10px;
    align-items: center;
    /* align-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto; */
}

.footer_small {
    padding-top: 50px;
    padding: 50px 3px 0 3px;
    width: 100%;
    display: none;
    flex-direction: column;
    flex: 1 1 900px;
}

.footer__bottom__text {
    color: #6e6f70;
}

.footer_shop__form {
    position: relative;
}

.footer_shop__form__button {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

.footer_shop__form__button:focus {
    outline: 3px solid #005fcc;
    outline-offset: 2px;
}

.footer_shop__form__button_style {
    width: 80px;
    height: 22px;
    background-color: #306af3;
    border: none;
}

.fa-map-marker-alt {
    color: #dc3a1a;
}

.footer_community_link {
    text-decoration: none;
}

.footer_small__shop {
    display: flex;
    justify-content: space-between;
}

.footer_small__community {
    display: flex;
    justify-content: space-between;
}

.footer_small__information {
    display: flex;
    justify-content: space-between;
}


/* Адаптивность */

@media(max-width: 1150px) {
    .main__headphone__window {
        padding: 0;
        margin: 0;
        display: flex;
        flex: 0 1 auto;
        padding: 5px;
        justify-content: start;
        align-items: flex-start;
        margin-left: 40px;
        margin-top: 40px;
        min-width: 915px;
    }
    .main__headphone__window {
        position: relative;
        display: flex;
        height: 300px;
        width: 100%;
        margin: 0;
        background-color: white;
    }
    .main__headphone__window {
        min-width: 500px;
    }
    .main__products__newest {
        transform: translateY(-30px);
    }
    .main__products {
        transform: translateY(-30px);
    }
}

@media(max-width: 950px) {
    .nav__right,
    .nav__left {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__nav__small {
        display: flex;
    }
}

@media(min-width:550px) {
    .footer__bottom {
        height: 70px;
    }
}

@media(max-width:550px) {
    .footer_big {
        display: none;
    }
    .footer_small {
        display: flex;
    }
}