*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.one,.two,.three,.four{
    display: inline-block;
    margin: 0px;
    padding: 0;
}

.one{
	height: 100%;
	background-color: red;
	width: 25%;
}

.two{
	height: 100%;
	background-color: magenta;
	width: 25%;
}

.three{
	height: 100%;
	background-color: yellow;
	width: 25%;
}

.four{
	height: 100%;
    background-color: black;
    width: 25%;
}