body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.div1,
.div2,
.div3 {
    height: 100px;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: blue;
    /* position: relative; */
    top: 10px;
    left: 70px;
}

.div3 {
    background-color: green;
}

.div4 {
    background-color: blueviolet;
    position: absolute;
    top: 20px;
}