body {
    background-color: skyblue;
}

.main {
    margin-top: 10%;
}

.main>div {
    margin: 0 auto;
    background-color: snow;
    border-radius: 50%;
}

.one {
    width: 10%;
    padding-bottom: 10%;
}

.two {
    width: 20%;
    padding-bottom: 30%;
}

.three {
    width: 30%;
    padding-bottom: 30%;
}