* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.lawn {
  padding: 4%;
  min-width: 700px;
}

.house {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.middle {
  display: flex;
  flex-direction: column;

  flex: 0 1 280px;
  align-items: stretch;
}

.terrace {
  flex: 1 1 200px; 
}

.west-wing {
  width: 100%;
  height: 100%;

  padding: 30% 0 30% 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.east-wing {
  flex: 1.5 1 300px;
  justify-content: flex-end;

  display: flex;
  flex-direction: column;
}

.dining {
  width: 100%;
  flex: 1.5 0 3px;
}

.kitchen {
  width: 75%;
  flex: 1 0 2px; 
}

.auxiliary {
  flex: 3 0 3px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
} 

.storage {
  flex: .35 0 7px; 
} 

.bathroom {
  flex: .65 0 13px; 
} 

.hall {
  flex: 4 0 4px;
}

.entry {
  flex: 0 0 190px;
}

.guest {
  flex: .9 0 0px;
  width: 100%;
  max-width: 500px;
  border-top-right-radius: 80px;
}

.garage {
  flex: 0 0 200px;
}


.caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Step 2 */

.room, .middle, .garage {
  border-color: black;
  border-style: solid;
  border-width: 10px;
}

.middle, .middle .room {
  border-width: 5px;
} 

.dining {
  border-right-width: 0;
}

.kitchen {
  border-right-width: 0;
  border-top-width: 0;
}

.guest {
  border-left-width: 0;
  border-bottom-width: 0;
}

.garage {
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
}


.pillar {
  background-color: black;
  width: 10px;
  height: 10px;
} 

.terrace {
  flex: 1 1 200px; 
  display: flex;
}

.terrace-pillars {
  flex: 0 0 auto;
  padding: 10px 0 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.garage {
  position: relative;
}

.garage-pillar {
  position: absolute;
  right: 0px;  
}

.garage-pillar-north {
  top: 0;
}

.garage-pillar-south-1 {
  bottom: 0;
  right: 10px;
}

.garage-pillar-south-2 {
  bottom: 0;
  height: 20px;
}

